<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Welcome to the CSCI2335 CoffeeMaker</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="css/bootstrap.css" />
	<link rel="stylesheet" href="css/app.css" />
</head>
<body>

	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
	<script>
	
	app.controller('menuCtrl', function($scope, $http, $q) {
	});
	
	</script>
	<div class="title">
		<h1>Dog Bar Jo</h1>
		
	</div>
	<div class="options">
		<h2>Available Options</h2>
		<div class="column">
			<a class="btn-link" href="inventory.html"><input type="button" value="Update Inventory" class="btn-primary btn"></a>
			<a class="btn-link" href="addcustomrecipe.html"><input type="button" value="Add a Recipe" class="btn-primary btn"></a>
			<a class="btn-link" href="editrecipe.html"><input type="button" value="Edit Recipe" class="btn-primary btn"></a>
		</div>
		<div class="column">
			<a class="btn-link" href="deleterecipe.html"><input type="button" value="Delete Recipe" class="btn-primary btn"></a>
			<a class="btn-link" href="makecoffee.html"><input type="button" value="Make Coffee" class="btn-primary btn"></a>
			<a class="btn-link" href="addingredient.html"><input type="button" value="Add an Ingredient" class="btn-primary btn"></a>
		</div>
	</div>
	
	
</body>
</html>
